/* Tagging frame */
aside {
	position: absolute;
	bottom: 0;
	max-height:80%;
	padding: 10px;
	width: 95%;
	max-width: 400px;
	overflow-y: auto;

	border-radius: 0px 15px 15px 0px;
	border-left-width: 0px !important;
}
/* Tag frame */
aside {
	display: block;
	overflow: auto;

	/* Scrollbar on left */
	direction: rtl;
	padding: 10px;
	padding-left: 5px;
}
aside > * {
	direction: ltr;
}
aside > header {
	text-align: center;
}
/* Tag list */
aside table {
	table-layout: fixed;
	width: 100%;
}
aside table td,
aside table th {
	text-align: center;
	margin-left: 2px;
	margin-right: 2px;
}
/* Expand the table cells to full size so we get a well-sized table */
aside table td > *,
aside table th > * {
	width: 100%;
}
aside table input {
	color: inherit;
	border-color: inherit;
	text-align: center;
	background-color: transparent;
	font-size: 1em;
}
aside table input[type=color] {
	padding: 0px;
}
main.single {
	display: flex;
	/* hack for firefox */
	min-height: 0;
	text-align: center;
	filter: drop-shadow(0px 0px 3px rgba(0,0,0,.3))
	drop-shadow(0px 0px 10px rgba(0,0,0,.3));
}
main.single > * {
	/* Grow small items !important */
	flex: 1 1 auto;
	align-items: center;
}
main.single #hack {
	max-height: calc(100% - 20px);
	margin-top: 10px;
	margin-bottom: 10px;
}
/* Hack allows us to keep maintain the content aspect ration */
main.single #hack img {
	/* Account for margin when doing full height */
	max-height: 100%;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	border-radius: 5px;
}
main.thumbs img, main.list img {
	border: 1px solid;
	transition: box-shadow 0.2s ease;
}
main.thumbs a, main.list #preview a {
	color: inherit;
}
main.thumbs img:hover, main.list img:hover {
	box-shadow: 1px 1px 2px;
}
main.thumbs img {
	border: 1px solid;
	width:calc(25% - 2% - 2px);
	margin: 1%;
	vertical-align:middle;
}
main.thumbs img {
	border: 1px solid;
	width:calc(25% - 2% - 2px);
	margin: 1%;
	vertical-align:middle;
}
#searchresult {
	display: flex;
	flex-flow: row nowrap;
	margin: 10px;
	padding: 10px;
	border: 1px solid;
}
#searchresult > #preview {
	max-width: 30%;
	margin: auto;
}
#searchresult > #preview a {
	max-width: 100%;
	max-height: 100%;
}
#searchresult > #preview a > img {
	max-width: inherit;
	max-height: inherit;
}
#searchresult > #details {
	margin: auto;
	width: 90%;
	margin-top: 0;
	padding-left: 10px;
}
#searchresult #tag {
	padding: 5px;
	border-bottom: 1px solid;
}

/* Search form (includes searchbox & options) */
#search {
	margin: auto;
	min-width: 70%;
	padding-left: 5%;
	padding-right: 5%;
	padding-bottom: 10px;
}
#search > input {
	padding-left: 2px;
}
#search > * {
	width: 100%;
}
#search > #params {
	display: flex;
	justify-content: space-between;
	margin-top: 10px;
}
#search > #params #filters div {
	text-align: right;
}
#search > #params input {
	padding-left: 2px;
	padding-right: 2px;
	width: 100px;
}
#searchbox {
	position: relative;
	height: 1em;
	padding-bottom: 5px;
}
#searchbox #query {
	position: absolute;
	width: 100%;
}
